<div class="row">
    <div class="col-md-6">
        <h1>Contacts</h1>
        <ul class="list-group well well-sm" ng-repeat="contact in vm.contacts.contacts">
            <li class="list-group-item"><b> First Name: </b> {{contact.firstName}}</li>
            <li class="list-group-item"><b> Last Name: </b> {{contact.lastName}}</li>
            <li class="list-group-item"><b> Street Address: </b> {{contact.streetAddress}}</li>
            <li class="list-group-item"><b> City: </b> {{contact.city}}</li>
            <li class="list-group-item"><b> State: </b> {{contact.state}}</li>
            <li class="list-group-item"><b> Zip Code: </b> {{contact.zip}}</li>
            <li class="list-group-item"><b> Phone Number: </b> {{contact.phoneNumber}}</li>
        </ul>            
    </div>
    <div class="col-md-6">
        <br>
        <button type="button" class="btn btn-primary" ng-click="vm.createNewContact()">Add new contact</button>
    </div>
</div>

